{% extends '_layout.html' %}
{% block title %}Endorsement | {% endblock %}
{% block content %}
<script src="https://js.braintreegateway.com/web/dropin/1.22.0/js/dropin.min.js"></script>
{% include '_validation_errors.html' %}

<h1 class="text-center">Endorsement for @{{ post.user.username }}</h1>
<hr>
<img src="{{ post.post_image_url }}" width="500" class="d-block mx-auto"/>
<hr>
<div id="dropin-container"></div>
<button id="submit-button">Request payment method</button>

<form action="{{ url_for('endorsement.create', post_id=post.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="payment value">Amount:</label>
    <br>
    <input type="text" name="amount" />
    <input id="nonce-input" type="hidden" name="nonce" />

    <input id="pay-btn" type="submit" class="btn btn-info" style="display: none;" value="Pay Now"/>
</form>

<script>
const button = document.querySelector('#submit-button');
const nonceInput = document.getElementById('nonce-input')
const payBtn = document.getElementById('pay-btn')

braintree.dropin.create({
    authorization: '{{ client_token }}',
    container: '#dropin-container'
}, function (createErr, instance) {
    button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (err, payload) {
            // Submit payload.nonce to your server
            nonceInput.value = payload.nonce
            button.style.display = 'none'
            payBtn.style.display = 'inline-block'
        });
    });
});
</script>
{% endblock %}